<%= form_for(@customer) do |f| %>
	<div class="form-group">
		<%= f.label :family_name %><br>
		<%= f.text_field :family_name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :given_name%><br>
 		<%= f.text_field :given_name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :email %><br>
		<%= f.text_field :email, class: "form-control" %>
	</div>
	<%= f.submit class: "btn btn-default" %>
<% end %>
